/* Main Styles */

html, body {
  height: 100%;
}

#pageBackgroundColor {
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-mode {
  background-color: white;
}

.dark-mode {
  background-color: #183d5d;
}

#toggleLabel {
  padding-top: 4px;
}

.custom-control-label {
  font-family: 'Poppins' !important;
  font-size: .8em !important;
  font-weight: 500 !important;
}

.custom-switch .custom-control-label::before {
  cursor: pointer;
}

.custom-control-label::after {
  cursor: pointer;
}

.custom-switch.custom-switch-md .custom-control-label {
  padding-left: 2rem;
  padding-bottom: 1.4rem;
}

.custom-switch.custom-switch-md .custom-control-label::before {
  height: 1.4rem;
  width: calc(2rem + 0.75rem);
  border-radius: 3rem;
}

.custom-switch.custom-switch-md .custom-control-label::after {
  width: calc(1.4rem - 4px);
  height: calc(1.4rem - 4px);
  border-radius: calc(2rem - (1.4rem / 2));
}

.custom-switch.custom-switch-md .custom-control-input:checked~.custom-control-label::after {
  transform: translateX(calc(1.5rem - 0.25rem));
}

.subtitle {
  color: #61969e;
  font-family: 'Poppins';
  font-size: 1em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(61, 60, 60);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.page-header {
  font-size: 3em;
  color: #a38da8;
  text-align: center;
  font-family: 'Poppins';
  margin-top: 10px;
  margin-bottom: 10px;
}

.center {
  text-align: center;
  align-items: center;
  align-self: center;
  justify-content: center;
  place-items: center;
  vertical-align: middle;
  line-height: 100%;
  margin: auto;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
}

.body-text {
  font-family: 'Lato';
}

/* Nav Bar */

.offcanvas-header {
  display: none;
}

/* Nav Drawer Styling for Mobile */

@media (max-width: 681px) {
  .nav {
    display: inline-block !important;
    /* justify-content: flex-start !important; */
  }
}

.navbar {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: inherit;
  margin: 0;
}

@media (min-width: 680px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 680px) {
  .nav-text {
    display: show !important;
  }
}

@media (min-width: 681px) {
  .collapse:not(.show) {
    display: none !important;
  }
}

@media (max-width: 892px) and (min-width: 681px) {
  .nav-text {
    display: none;
  }
}

.navbar-nav .nav-ank {
  /* margin-right: 25px;
  margin-left: 25px; */
}

.nav-item {
  /* padding: 20%; */
}

.navbar-nav {
  flex-direction: row;
}

.nav {
  padding-bottom: 6px;
  font-size: 1em;
  font-family: 'Poppins';
}

.nav-active {
  color: DeepSkyBlue;
  border-bottom: 2px solid DeepSkyBlue;
}

.nav-icons {
  font-size: 1em;
  vertical-align: middle;
}

.nav-inactive {
  color: rgb(207, 127, 191);
}

.nav-inactive:hover {
  color: DeepSkyBlue;
}



/*  HOME PAGE */

/* .firstName {
  position: relative;
  /* font-weight: 900; */

/* -webkit-animation-fill-mode: forwards; */

/* } */

*/ .gradient-text {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.text-wrapper {
  font-weight: bold;
  position: relative;
  text-align: center;
  font-family: 'Montserrat';
  text-align: center;
  display: block;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.letter {
  transform-origin: 0 100%;
  display: inline-block;
  /* line-height: 1em; */
  animation: jumpAnim 1.67s steps(23) 1 forwards;
  -moz-text-fill-color: transparent;
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #c46cd8, #b85080);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name-container {
  line-height: 0;
}

.lastName {
  margin-top: -35px;
}

.firstName .name-header-expanded {
  font-size: 5.5em;
}

.lastName .name-header-expanded {
  font-size: 4em;
}

.firstName .name-header-collapsed {
  font-size: 4.5em;
}

.lastName .name-header-collapsed {
  font-size: 3em;
}

.home-center-page {
  padding: 70px 0;
  text-align: center;
}

.social-links {
  font-size: 4em;
  display: flex;
  justify-content: center;
  place-items: center;
  vertical-align: middle;
  line-height: 100%;
  margin: auto;
}

.social-link-icons:hover {
  opacity: .5;
}

.code-icon-styling {
  color: #c4aac9 !important;
  font-size: 5em !important;
  vertical-align: middle;
}

.code-text-styling {
  font-weight: 500;
  color: #c4aac9 !important;
  font-size: 5em !important;
}

.social-link-icons {
  margin-left: .2em;
  margin-right: .2em;
  text-decoration: none !important;
  color: #73b0b9;
  opacity: 0;
}

/* ABOUT PAGE */

.card-subtitle {
  color: #17a2b8;
  font-family: 'Poppins';
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
}

.card-subtitle-left {
  margin-left: 34px;
  color: #17a2b8;
  font-family: 'Poppins';
  font-size: 1em;
  font-weight: bold;
}

.card-flip {
  cursor: pointer;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

.card-face.hide-element {
  display: none;
}

.card-face--front {
  transform: rotateY(0deg);
}

.card-face--back {
  transform: rotateY(180deg);
}

/* PROJECTS PAGE*/

.code {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
}

.card-title {
  font-size: 1.7em;
  font-family: 'Poppins';
  font-weight: bold;
}

.card-title-center {
  text-align: center;
}

.card-title-light {
  color: #917896;
}

.card-title-dark {
  color: #d5aad8 !important;
}

.page-container {
  padding-top: 90px;
  margin-left: 10%;
  margin-right: 10%;
}

.card-columns {
  margin-top: 12px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2 !important;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  orphans: 1;
  widows: 1;
}

@media (min-width: 992px) {
  .card-columns {
    display: flex;
  }
}

.project-columns {
  display: block !important;
}

.col-sm {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 1% !important;
}

@media (max-width: 992px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1 !important;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

li.project-details-list::before {
  content: "• ";
  color: inherit !important;
  font-size: 20px;
}

.modal-dialog {
  min-width: 60%;
}

.modal-expanded {
  justify-content: center !important;
}

.modal-collapsed {
  justify-content: flex-start !important;
}

.close-dark {
  color: white !important;
}

/* .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
} */

/* .modal-dialog-centered.modal-dialog-scrollable {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: flex-start;
  height: 100%;
} */

/* 
.modal-expanded {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: flex-start;
  height: 100%;
} */

.card {
  margin-bottom: 30px !important;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important;
}

.background-light {
  /* background-color: white !important; */
}

.background-dark {
  background-color: #355273 !important;
}

.project-subtitle {
  color: #17a2b8;
  /* font-weight: bold; */
  font-family: 'Poppins';
  font-size: .8em;
}

.card-icons {
  font-size: .4em;
}

.card-icons-dash {
  font-weight: bold;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  direction: ltr;
}

.project-text {
  font-family: 'Lato';
  font-size: 1.1em;
  font-weight: 400;
  /* line-height: 1.5; */
}

.text-color-light {
  color: #1a1e22 !important;
}

.text-color-light-modified {
  color: #4b4b4c !important;
  margin-top: 20px;
}

.text-color-dark-modified {
  color: white;
  margin-top: 20px;
}

.text-color-dark {
  color: white;
}

.project-links {
  font-weight: 500;
  margin-left: 30px;
}

.links-light {
  color: #297ad1;
}

.links-dark:hover {
  color: #d48ac4;
}

.links-dark {
  color: #a6d1ff;
}

.btn-info {
  border-radius: 15px !important;
  /* margin-top: 12px; */
  margin-bottom: 10px;
  padding: 1px 6px 1px 6px !important;
  font-family: 'Lato';
  /* border: none; */
  border-width: 1px;
}

.btn-info-light {
  border-color: #17a2b8;
  background-color: white !important;
  color: #17a2b8 !important;
}

.btn-info-light:hover {
  color: white !important;
  background-color: #62bac5 !important;
  border-color: #117a8b !important;
}

.btn-info-dark {
  border-color: #17a2b8;
  color: white !important;
  background-color: #17a2b8 !important;
}

.btn-info-dark:hover {
  color: #62bac5 !important;
  background-color: rgb(84, 90, 114) !important;
  border-color: #117a8b !important;
}

.technologies {
  /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; */
  /* font-size: 15px; */
  /* font-weight: 500; */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  filter: invert(1);
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.project-details-list {
  margin-left: 2px;
}

li.project-details-list {
  list-style: none;
  list-style-position: inside;
  text-indent: -1em;
  padding-left: 1em;
  /* left: -10px; */
}

li.project-details-list::before {
  content: "• ";
  color: #3e3341;
  font-size: 20px;
}

li.project-details-list span {
  margin-left: .2em;
}

.project-image-outer-container {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  /* border-style: solid; */
  /* border-width: 2px; */
  /* border-color: #0000ff; */
  overflow: hidden !important;
  position: absolute;
  justify-content: center;
}

.project-text-container {
  height: 30%;
  overflow-y: scroll;
  /* position: absolute !important; */
  /* height: 100%; */
  /* left: 20%;  */
  /* width: 80%;
  margin-left: 200px;
  /* border-style: solid;
  border-width: 2px;
  border-color: purple; */
}

.none {
  display: none;
}

.jane-code {
  width: 500px;
  background: #fff url('./images/JaneVSSmaller.png') no-repeat top left;
  background-size: 100% auto;
}

.scheduley-code {
  width: 500px;
  background: #fff url('./images/VisualStudio.png') no-repeat top left;
  background-size: 100% auto;
}

.inner-code {
  overflow-y: scroll;
  color: white;
  font-size: 11px;
  max-width: 100%;
  max-height: 270px;
  margin-left: 106px;
}

.inner-code-dark {
  overflow-y: scroll;
  color: rgb(184 193 190);
  font-size: 11px;
  max-width: 100%;
  max-height: 270px;
  margin-left: 106px;
}

/* RESUME PAGE */

.download-and-resume-container {
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  justify-content: center;
  place-items: center;
  vertical-align: middle;
  margin: auto;
}

.resume-image {
  width: 64%;
  height: auto;
  align-content: center !important;
  border-style: solid;
  justify-content: center;
  border-color: grey;
  border-width: 5px;
  margin-bottom: 10px;
}

.download-link-and-icon {
  /* color: #73b0b9; */
  font-family: 'Poppins';
  font-size: 1.1em;
  cursor: pointer;
  font-weight: 300;
}

.download-icon {
  padding-bottom: 1px;
}

.download-link-and-icon:hover {
  text-decoration: none;
  opacity: .5;
}

/* CONTACT PAGE */

form {
  margin-left: 20%;
  margin-right: 20%;
}